<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <h1>Создание записи ЧП</h1>
        <form action= "/create/emergency" method="POST">

            <label>Номер поезда</label>
            <input name="TrainID" class ="field"><br><br>

            <label>Класс Груза</label>
            <select name="cargoclass">
                {{#each Emergencies.[0]}}
                <option value = "{{'ID'}}">{{'Class'}}</option>        
                {{/each}}
            </select><br><br>

            <label>Состояние груза</label>
            <select name="cargostate">
                {{#each Emergencies.[1]}}
                <option value = "{{'ID'}}">{{'State'}}</option>        
                {{/each}}
            </select><br><br>

            <label>Пострадавшие</label>
            <select name="casualties">
                {{#each Emergencies.[2]}}
                <option value = "{{'ID'}}">{{'State'}}</option>        
                {{/each}}
            </select><br><br>

            <label>Повреждения инфраструктуры</label>
            <select name="infrastructure">
                {{#each Emergencies.[3]}}
                <option value = "{{'ID'}}">{{'State'}}</option>        
                {{/each}}
            </select><br><br>

            <label>Номер ВП</label>
            <select name="TrainNumber" >
                {{#each Emergencies.[4]}}
                <option value="{{'TrainNumber'}}">{{"TrainNumber"}}</option>
                {{/each}}
            </select><br><br>

            <label>Геопозиция</label>
            <input name="geolocation" class ="field"><br><br>

            <label>Железная дорога</label>
            <select name="railway" >
                {{#each Emergencies.[5]}}
                <option value="{{'ID'}}">{{"Name"}}</option>
                {{/each}}
            </select><br><br>

            <input type="submit" value="Отправить" />
        </form>

        <form action="/emergency" method="GET" style="display:inline;">
            <input type="submit" value="Вернуться" />
        </form>
    </div>
</body>