<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        {{#each Emergencies}}
        <div class="block">
            <div>{{TrainID}}</div>
            <div>{{"cargoclass.Class"}}</div>
            <div>{{"cargostate.State"}}</div>
            <div>{{"casualty.State"}}</div>
            <div>{{"repairtrain.TrainNumber"}}</div>
            <div>{{"repairtrain.Manager"}}</div>
        </div>
        {{/each}}
    </div>
</body>
