<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        {{#each Emergencies}}
        <form action="/edit/emergency/{{this.ID}}" method="get">
            <button class="block" type="submit">
            <div>Номер поезда: {{TrainID}}</div>
            <div>Класс груза: {{"cargoclass.Class"}}</div>
            <div>Состояние груза: {{"cargostate.State"}}</div>
            <div>Пострадавшие : {{"casualty.State"}}</div>
            <div>Номер ВП: {{"repairtrain.TrainNumber"}}</div>
            <div>Управляющий ВП: {{"repairtrain.Manager"}}</div>
            <div>Геопозиция: {{"Geolocation"}}</div>
            <div>Железная дорога: {{"railway.Name"}}</div>
            </button>
        </form>
        {{/each}}
    </div>
</body>
