<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <h1>Редактирование ЧП</h1>
        <form action= "/edit/emergency"method="POST">
            <label>Номер поезда</label>
            <input name="TrainID" class ="field" value="{{Emergencies.[0].TrainID}}"><br><br>
            <label>Класс Груза</label>
            <select name="cargoclass">
                {{#with Emergencies.[0]}}
                <option value = "{{'cargoclass.ID'}}">{{'cargoclass.Class'}}</option>        
                {{/with}}
                {{#each Emergencies.[1]}}
                <option value = "{{'ID'}}">{{'Class'}}</option>        
                {{/each}}
            </select><br><br>
            <label>Номер ВП</label>
            <select name="TrainNumber" >
                {{#with Emergencies.[0]}}
                <option value="{{'repairtrainTrainNumber'}}">{{"repairtrainTrainNumber"}}</option>
                {{/with}}
                {{#each Emergencies.[2]}}
                <option value="{{'TrainNumber'}}">{{"TrainNumber"}}</option>
                {{/each}}
            </select><br><br>
        </form>
    </div>
</body>